*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #0a0a0b;
  color: #adadad;
  font-family: "Inter", sans-serif; }

h1,
h2 {
  color: #ffffff;
  font-family: "Prata", serif;
  font-weight: 400; }

ul {
  list-style: none; }

a {
  text-decoration: none;
  color: inherit; }

p {
  font-size: 0.9rem;
  line-height: 1.5; }

.name {
  font-family: "Prata", serif;
  font-size: 1rem;
  color: #ffffff; }

.contact-btn {
  background-color: #fbe850;
  color: #0a0a0b;
  font-family: "Prata", serif;
  padding: 1rem 2rem;
  display: inline-block;
  font-weight: bold; }

@media (min-width: 767px) {
  p {
    font-size: 1rem; }

  h2 {
    font-size: 2rem; } }
nav {
  padding: 2rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  nav ul {
    display: none; }
  nav .contact-btn {
    display: none; }

@media (min-width: 1023px) {
  nav {
    max-width: 1024px;
    margin: 0 auto; }
    nav ul {
      display: flex;
      gap: 0.5rem; }
      nav ul li {
        padding: 0.75rem 0.5rem; }
    nav .contact-btn {
      display: block; }
    nav .menu-icon {
      display: none; } }
@media (min-width: 1199px) {
  nav {
    max-width: 1200px;
    margin: 0 auto; } }
header {
  padding: 2rem 1.5rem; }
  header .heading-title {
    font-size: 1.75rem;
    margin-bottom: 1rem; }

@media (min-width: 767px) {
  header .heading-title {
    font-size: 3rem; } }
@media (min-width: 1023px) {
  header {
    max-width: 1024px;
    margin: 0 auto; }
    header .heading-title {
      max-width: 55%; }
    header .heading-text {
      padding-right: 2rem;
      max-width: 60%; } }
@media (min-width: 1199px) {
  header {
    max-width: 1200px; } }
.companies {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  padding: 2rem 1.5rem; }
  .companies-container {
    display: flex;
    justify-content: center; }
    .companies-container img {
      max-width: 100%; }

@media (min-width: 767px) {
  .companies {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem; } }
@media (min-width: 1023px) {
  .companies {
    max-width: 1024px;
    margin: 0 auto;
    grid-template-columns: repeat(6, 1fr); } }
@media (min-width: 1199px) {
  .companies {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0; } }
.projects {
  padding: 2rem 1.5rem; }
  .projects .project {
    margin-bottom: 2rem; }
    .projects .project img {
      width: 100%;
      display: block; }
    .projects .project-link {
      display: inline-flex;
      align-items: center;
      font-family: "Prata", serif;
      color: #ffffff;
      font-size: 1.75rem;
      margin: 1rem 0; }
      .projects .project-link span {
        margin-left: 0.5rem; }

@media (min-width: 767px) {
  .projects .project-link {
    font-size: 2rem;
    margin: 1.25rem 0; } }
@media (min-width: 1023px) {
  .projects {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; } }
@media (min-width: 1199px) {
  .projects {
    max-width: 1200px; } }
.about {
  background-color: #2e3038;
  padding: 4rem 0; }
  .about-container {
    padding: 0 1.5rem; }
    .about-container h2 {
      margin-bottom: 1.5rem; }
    .about-container-text p {
      line-height: 1.5;
      margin-bottom: 1.5rem; }
      .about-container-text p:last-of-type {
        margin-bottom: 0; }

@media (min-width: 1023px) {
  .about-container {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    gap: 0 1.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, auto); }
  .about-text:first-of-type {
    grid-column: 1 / 2; }
  .about-text:last-of-type {
    grid-column: 2 / -1;
    grid-row: 1 / -1; } }
@media (min-width: 1199px) {
  .about-container {
    max-width: 1200px; } }
.contact {
  padding: 4rem 1.5rem; }
  .contact-text {
    margin: 1rem 0; }

@media (min-width: 1023px) {
  .contact {
    max-width: 1024px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem; }
    .contact-text {
      grid-column: 1 / 2; }
    .contact .contact-btn {
      grid-column: 1 / 2;
      justify-self: start; } }
@media (min-width: 1199px) {
  .contact {
    max-width: 1200px; } }
footer {
  background-color: #2e3038;
  padding: 2rem 0; }
  footer .footer-container {
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between; }
  footer .social-links img {
    margin-left: 0.5rem; }

@media (min-width: 1023px) {
  footer .footer-container {
    max-width: 1024px;
    margin: 0 auto; } }
@media (min-width: 1199px) {
  footer .footer-container {
    max-width: 1200px; } }

/*# sourceMappingURL=styles.css.map */
