.about {
	background-color: $secondary-color;
	padding: 4rem 0;

	&-container {
		padding: 0 1.5rem;

		h2 {
			margin-bottom: 1.5rem;
		}

		&-text {
			p {
				line-height: 1.5;
				margin-bottom: 1.5rem;

				&:last-of-type {
					margin-bottom: 0;
				}
			}
		}
	}
}

@media (min-width: 1023px) {
	.about {
		&-container {
			max-width: 1024px;
			margin: 0 auto;

			display: grid;
			gap: 0 1.5rem;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, auto);
		}

		&-text {
			&:first-of-type {
				grid-column: 1 / 2;
			}

			&:last-of-type {
				grid-column: 2 / -1;
				grid-row: 1 / -1;
			}
		}
	}
}

@media (min-width: 1199px) {
	.about {
		&-container {
			max-width: 1200px;
		}
	}
}
