$contact-button: #fbe850;
$body-color: #0a0a0b;
$secondary-color: #2e3038;

$title-color: #ffffff;
$text-color: #adadad;

$title-font: "Prata", serif;
$text-font: "Inter", sans-serif;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: $body-color;
	color: $text-color;
	font-family: $text-font;
	padding: 0 1.5rem;
}

h1,
h2 {
	color: $title-color;
	font-family: $title-font;
	font-weight: 400;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

p {
	font-size: 0.9rem;
	line-height: 1.5;
}
