.companies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 2rem 1.5rem;

	&-container {
		display: flex;
		justify-content: center;

		img {
			max-width: 100%;
		}
	}
}

@media (min-height: 767px) {
	.companies {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}
