.companies {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 1rem;
	padding: 2rem 1.5rem;

	&-container {
		display: flex;
		justify-content: center;

		img {
			max-width: 100%;
		}
	}
}

@media (min-width: 767px) {
	.companies {
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

@media (min-width: 1023px) {
	.companies {
		max-width: 1024px;
		margin: 0 auto;
		grid-template-columns: repeat(6, 1fr);
	}
}

@media (min-width: 1199px) {
	.companies {
		max-width: 1200px;
		padding-left: 0;
		padding-right: 0;
	}
}
