footer {
	background-color: $secondary-color;
	padding: 2rem 0;

	.footer-container {
		padding: 0 1.5rem;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.social-links {
		img {
			margin-left: 0.5rem;
		}
	}
}

@media (min-width: 1023px) {
	footer {
		.footer-container {
			max-width: 1024px;
			margin: 0 auto;
		}
	}
}

@media (min-width: 1199px) {
	footer {
		.footer-container {
			max-width: 1200px;
		}
	}
}
