header {
	padding: 2rem 1.5rem;

	.heading-title {
		font-size: 1.75rem;
		margin-bottom: 1rem;
	}
}

@media (min-width: 767px) {
	header {
		.heading-title {
			font-size: 3rem;
		}
	}
}

@media (min-width: 1023px) {
	header {
		max-width: 1024px;
		margin: 0 auto;

		.heading-title {
			max-width: 55%;
		}

		.heading-text {
			padding-right: 2rem;
			max-width: 60%;
		}
	}
}

@media (min-width: 1199px) {
	header {
		max-width: 1200px;
	}
}
