nav {
	padding: 2rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	ul {
		display: none;
	}

	.contact-btn {
		display: none;
	}
}

@media (min-width: 1023px) {
	nav {
		max-width: 1024px;
		margin: 0 auto;

		ul {
			display: flex;
			gap: 0.5rem;

			li {
				padding: 0.75rem 0.5rem;
			}
		}

		.contact-btn {
			display: block;
		}

		.menu-icon {
			display: none;
		}
	}
}

@media (min-width: 1199px) {
	nav {
		max-width: 1200px;
		margin: 0 auto;
	}
}
