nav {
	padding: 2rem 1.5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;

	.name {
		font-family: $title-font;
		font-size: 1.25rem;
	}

	ul {
		display: none;
	}

	.contact-btn {
		display: none;
	}
}
