.projects {
	padding: 2rem 1.5rem;

	.project {
		margin-bottom: 2rem;

		img {
			max-width: 100%;
		}

		&-link {
			display: inline-flex;
			align-items: center;
			font-family: $title-font;
			color: $title-color;
			font-size: 1.75rem;
			margin: 1rem 0;

			span {
				margin-left: 0.5rem;
			}
		}
	}
}
