.projects {
	.project {
		margin-bottom: 2rem;
		padding-bottom: 1.5rem;

		img {
			max-width: 100%;
		}

		&-link {
			display: block;
			font-family: $title-font;
			color: $title-color;
			font-size: 1.75rem;
			margin: 1rem 0;
		}
	}
}
